body{
    font-family:Arial;
    background:#1f1f1f;
    color:white;
    margin:30px;
}

.card{
    background:#2f2f2f;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}

h1{
    text-align:center;
}

.green{
    color:#00ff00;
}

.red{
    color:red;
}